* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #EDEEEB;
}

#calculator {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 4px;
    justify-self: center;
    align-self: center;
    background-color: #CCC7BF;
    width: 500px;
    height: 500px;
    margin: 20px;
    padding: 20px;
}

#output {
    background-color: #61602e;
    color: white;
    text-align: right;
    padding: 16px;
    margin-bottom: 48px;
    border-radius: 4px;
    font-size: 20px;
}

#btncontainer {
    text-align: center;
}

button {
    min-width: 92px;
    height: 44px;
    border-radius: 8px;
    border: 0;
    padding: 0;
    margin: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.7;
}

button:hover {
    opacity: 1;
}

footer, header {
    padding: 18px;
    background-color: #31393C;
    color: white;
    text-align: center;
    font-weight: bold;
}

header {
    font-size: 32px;
}

footer {
    font-size: 18px;
    margin-top: auto;
}
.clearbtn {
    background-color: #f44242;
}

.equals {
    background-color: #4285f4;
    margin-top: 24px;
}

.equals, .clearbtn {
    color: white;
}

.opbtn {
    font-size: 18px;
}
